.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 361px;
  height: 276px;
  background-size: cover;
  background-color: #faf3e0;
  overflow: hidden;
  margin: 32px auto;
}
.img {
  object-fit: cover;
  width: auto;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .thumb {
    width: 704px;
    height: 624px;
  }
}

@media screen and (min-width: 1440px) {
  .thumb {
    width: 1225px;
    height: 624px;
  }
}
