.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1439.8px) {
  .form {
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.input {
  width: 329px;
  max-height: 46px;
  border-radius: 8px;
  border: 1px solid #9f9f9f;
  padding: 16px 8px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) and (max-width: 1439.8px) {
  .input {
    width: 471px;
  }
}

@media screen and (min-width: 1440px) {
  .input {
    width: 459px;
  }
}

::placeholder {
  color: #9f9f9f;
}

.button {

  width: 329px;
  padding: 13px 136px;
  max-height: 46px;

  color: #ffffff;
  background-color: #9b6c43;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) and (max-width: 1439.8px) {
  .button {
    width: 176px;
    padding: 13px 60px;
  }
}

@media screen and (min-width: 1440px) {
  .button {
    width: 190px;
    padding: 13px 67px;
  }
}
