.footer {
  background-color: #3d2218;
}

.footerContainer {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-block: 24px;
  width: 1230px;
  margin-inline: auto;
}

.footerText {
  color: #fff;
  font-size: 12px;
}

@media screen and (min-width: 1440px) {
  .footerContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}
