.container {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  height: 46px;
}
.logoTitle {
  color: white;
  font-size: 18px;
}

.icon {
  width: 30px;
  height: 30px;
}
