.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
  width: 361px;
  font-weight: 600;
  font-size: 18px;
  background: #9b6c43;
  color: #ffffff;
  border: none;
}
