.profileSection {
  display: flex;
  justify-content: center;
  padding-block: 48px;
}

.container {
  width: 1224px;
}

@media screen and (min-width: 1440px) {
  .profileSection {
    padding-block: 46px;
  }
}
