.header {
  background: #3d2218;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionHeader {
  width: 100%;
  display: flex;
  justify-content: center;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 327px;

/*   width: 100%;
  max-width: 393px;
  padding: 0 16px; */

  height: 74px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .headerContainer {

    width: 704px;

  }
}
@media screen and (min-width: 1440px) {
  .headerContainer {
    /* padding: 0 108px; */
    max-width: 1224px;
  }
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
}

.reipeLink {
  margin-right: 13px;
  color: white;
}

.appbar {
  display: flex;
  justify-content: center;
  height: auto;
}

.containerIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: none;
  background-color: #3d2218;
}

@media screen and (min-width: 768px) {
  .containerIcon {
    display: none;
  }
}

.icon {
  color: #ffffff;
}
