.header {
  background: #3d2218;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sectionHeader {
  width: 1440px;
  display: flex;
  justify-content: center;
}

.headerContainer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 1230px;
}

.navigation {
  display: flex;
  align-items: center;
}

.reipeLink {
  margin-right: 13px;
  color: white;
}

.appbar {
  display: flex;
  justify-content: center;
  height: auto;
}
