.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 24, 39, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #faf3e0;
  border-radius: 32px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  width: 420px;
  /* height: 236px; */
  text-align: center;
  position: relative;
}

.cancelBtn,
.logoutBtn,
.unauthConfirmBtn,
.unauthCancelBtn .successBtn {
  font-size: 16px;
}

.unauthorised {
  height: 277px;
}

.logout,
.success {
  height: 236px;
}

.logout {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.closeSvg {
  display: flex;
  justify-content: center;
  align-content: center;
}

.closeBtn {
  position: absolute;
  top: 21px;
  right: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #000;
}

.title {
  font-size: 32px;
  font-weight: 600;
  color: #000;
  margin-top: 56px;
  margin-bottom: 20px;
}

.message {
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
  white-space: pre-line;
  text-shadow: none;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 27px;
}

button.cancelBtn,
button.unauthConfirmBtn {
  border: 1px solid #000;
  background-color: transparent;
  transition: all 0.25s ease;
}

.logoutBtn,
.cancelBtn {
  width: 165px;
  height: 44px;
}

.logoutBtn {
  color: #fff;
  background-color: #c80000;
}

.logoutBtn:hover,
.logoutBtn:active {
  background: #6d554b;
  color: #fff;
}

.unauthConfirmBtn:hover,
.unauthConfirmBtn:focus,
.unauthConfirmBtn:active,
.cancelBtn:hover,
.cancelBtn:focus,
.cancelBtn:active {
  background-color: #d9d9d9;
  border: solid 2px #fff;
  color: #fff;
}

.unauthConfirmBtn,
.unauthCancelBtn {
  width: 165px;
  height: 36px;
}

.successBtn,
.unauthCancelBtn {
  background-color: #9b6c43;
  color: #fff;
}

.successBtn:hover,
.successBtn:active,
.unauthCancelBtn:hover,
.unauthCancelBtn:active {
  background-color: #6d554b;
}

.successBtn:focus,
.logoutBtn:focus,
.unauthCancelBtn:focus {
  border: 2px solid #fff;
}

.successBtn {
  width: 356px;
  height: 44px;
}

@media screen and (max-width: 767px) {
  .modal {
    width: 362px;
  }
  .cancelBtn,
  .logoutBtn,
  .unauthConfirmBtn,
  .unauthCancelBtn {
    font-size: 18px;
  }
  .unauthorised {
    height: 341px;
  }
  .logout {
    height: 316px;
  }
  .success {
    height: 276px;
  }
  .cancelBtn,
  .logoutBtn,
  .unauthConfirmBtn,
  .unauthCancelBtn {
    width: 314px;
    height: 54px;
  }
  .successBtn {
    width: 330px;
  }
}
