.card {
  display: flex;
  gap: 15px;
  flex-direction: column;
  border-radius: 16px;
  padding: 16px;
  max-width: 361px;
  background-color: #faf3e0;
}
.header {
  font-weight: 600;
  font-size: 24px;
}
.text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.55;
}
.info {
  font-weight: 400;
  line-height: 1.55;
}

@media screen and (min-width: 768px) {
  .card {
    padding: 24px;
    max-width: 431px;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    max-width: 393px;
  }
}
